// Include any default variable overrides here (though functions won't be available)
@import "Customize.scss";

// Import The Bootstrap Framework
@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here